$yellow: #F4D03F;
$dark-grey: #2C3E50;
$light-grey: #ECF0F1;

#land {
  .photo-container {
    background-color: $yellow;
    color: $dark-grey;
    height: 100vh;
    text-align: center;

    img#bv-dp {
      width: 30vmin;
      border: 3px solid $light-grey;
    }

    h1 {
      font-size: 5vmin;
    }

    .social-icons {
      margin-top: 2em;

      a {
        font-size: 3vmin;
        margin: 0 0.3em;
        width: 2.5em;
        line-height: 2.5em;
        display: inline-block;
        transition: all 0.3s ease-in; 

        &, &:hover, &:visited, &:active {
          color: $light-grey;
          text-decoration: none;
          background-color: $dark-grey;
          border-radius: 50%;
        }

        &:hover {
          border-radius: 5px;
          transform: rotate(360deg);
        }
      }
    }
  }

  #ramp {
    height: 100vh;
    background-image: url('../images/land/ramp-bg.gif');
    background-size: 100% 100%;
  }

  .about-container {
    background-color: $dark-grey;
    color: $light-grey;
    padding-left: 0;
    height: 100vh;

  }
}